<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
        <h3>@ViewData["PageTitle"]</h3>
        @{
            //if you are storing anything then string in ViewData Dictionary
            //you have to explicitly cast to to that dataType 
            //for our case we are storing a employee model 
            var employee = ViewData["Employee"] as EmployeeManagement_AspNetCore.Models.Employee ; 
        }
        <div>Name : @employee.Name</div>
        <div>Email: @employee.Email</div>
        <div>Department : @employee.Department</div>
   
</body>
</html>
